<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../Public/Css/style.css">
    <title>WTF</title>
</head>
<body>
    <header>
        <div class="appname">
            <h1>W.T.F</h1>
            <p>What´s Their Face</p>
        </div>
    </header>
    <nav>
        <h1>class **</h1>
    </nav>
    <main>
        <img class="mugshot" src="" alt="picture">
        <div class="guess_answer">
            <h2>Firstname</h2>
            <input type="text">
            <h2>Lastname</h2>
            <input type="text">
        </div>
        <a class="button"  href="">Next</a>
    </main>





</body>
</html>