<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/Css/style.css">
    <title>WTF</title>
</head>
<body>
    <header>
        <div class="appname">
            <h1>W.T.F</h1>
            <p>What´s Their Face</p>
            <a href="wrong">Wrong</a>
            <a href="start">Start</a>
            <a href="guess">Guess</a>
            <a href="finish">Finish</a>
            <a href="correct">Correct</a>
        </div>
    </header>
    <nav>
        <h1>class **</h1>
    </nav>
    <main>
        <img class="mugshot" src="misc/" alt="picture">
        <div class="guess_answer">
            <label>Firstname</label>
            <input type="text">
            <label>Lastname</label>
            <input type="text">
        </div>
        <a class="button"  href="">Next</a>
    </main>





</body>
</html>