<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../Public/Css/style.css">
    <title>WTF</title>
</head>
<body>
    <header>
        <div class="appname">
            <h1>W.T.F</h1>
            <p>What´s Their Face</p>
        </div>
    </header>
<nav>
    <h1>class **</h1>
</nav>

<main>
    <h1>Fel!</h1>
    <img class="mugshot" src="../Public/Misc/Lady-unsplash.jpg" alt="old asian lady">
    <div class="Right_answer">
        <h2>This is</h2>
        <p>old asian</p>
        <p>lady</p>
    </div>
    <div class="wrong_answer">
        <h2>Your guess</h2>
        <p>young american</p>
        <p>man</p>
    </div>
    <a class="button"  href="">next</a>
</main>


</body>
</html>