body{
    background-color: rgb(115,6,114);
    color: whitesmoke;
}
/* Finish page */
.finishDiv{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 40px;
}
.finishDiv a {
    display: block;
    padding: 12px;
    text-decoration: none;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
}
/* Header */
header{
    padding: 18px;
    text-align: center;
    background: rgb(69,5,84);
    color: white;
    margin-bottom: 2rem;
}
header p {
    font-size: 18px;
}

header .appname{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Wrong / Right / Guess*/

nav {
    font-size: 24px;
}
.wrong_body{
    background-color: firebrick;
}
.right_body{
    background-color: forestgreen;
}
main {
    text-align: center;
    font-size: 24px;
}
main .button{
    display: block;
    padding: 12px;
    text-decoration: none;
    width: 8%;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
}

main .mugshot{
    height: 27rem;
    width: 20rem;
}

/* Start page */
.startDiv {
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 40px;
}
.startDiv input {
    width: 100%;
    font-size: 35px;
    font-family: "Times New Roman", Times, serif;
    border: 1px solid;
    padding: 10px;
    box-shadow: 3px 5px;
    border-radius: 8px;
    margin-bottom: 24px;
}
.startDiv button {
    height: 40%;
    font-family: "Times New Roman", Times, serif;
    font-size: 25px;
    background-color: white;
    padding: 5px;
    box-shadow: 2px 4px;
    border: 1px;
    border-radius: 5px;
}
/* Guess */
.guess_answer{
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 32px;
}
.guess_answer input {
    width: 69%;
    font-size: 24;
    font-family: "Times New Roman", Times, serif;
    border: 1px solid;
    padding: 10px;
    box-shadow: 3px 5px;
    border-radius: 8px;
    margin-bottom: 10px;
}